requests>=2.28
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
werkzeug==2.0.3
email-validator==2.1.1
SQLAlchemy>=1.4.36
Flask-Chartjs==0.1.dev1
gunicorn
Flask-SocketIO
redis
eventlet
pandas
pdfplumber
openai
beautifulsoup4
flask-session
langchain==0.1.12
langchain-openai==0.0.8
python-dotenv
openpyxl
google-auth
google-auth-oauthlib
google-api-python-client
